Django==5.2.17
djangorestframework==3.16.1
drf-spectacular==0.28.0
psycopg[binary]==3.2.9
django-cors-headers==4.7.0
django-environ==0.11.2
django-redis==5.4.0
redis==5.0.8
djangorestframework-simplejwt==5.5.1
phonenumbers==8.13.43
celery==5.4.0
gunicorn==23.0.0
